data
image_ids
crowd_compute_requests
**/__pycache__
**/*urls.csv
.csv
.tar
.pytest*
.pyc
bird-or-bicycle/bird_or_bicycle.egg-info/
unrestricted-advex/unrestricted_advex.egg-info/
workspace_yl/*.csv
workspace_yl/models/test_out.png
workspace_yl/saved_csv_results/
workspace_yl/saved_models/*.tar
workspace_yl/test_img/
workspace_yl/unrestricted_advex_evals/
